/* Global Styles */
body {
  font-family: 'Montserrat', sans-serif;
}

.centered {
  text-align: center;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#get-location-button {
  width: 80%;
  max-width: 300px;
  padding: 10px 20px;
  background-color: #60c060;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

#get-location-button:hover {
  background-color: #4caf50;
}

#get-location-button:active {
  background-color: #357a38;
}

#locations {
  margin: 20px 0;
  width: 80%;
  max-width: 500px;
}

#locations ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#locations li {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.reveal-button,
.speak-button {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.speak-button:hover {
  background-color: #3d9240;
}

.reveal-button:active,
.speak-button:active {
  background-color: #357a38;
}

.stop-button {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.stop-button:hover {
  background-color: #e53935;
}

.stop-button:active {
  background-color: #d32f2f;
}

.extract-container {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #f4f4f4;
  }

  .reveal-button,
  .speak-button {
    background-color: #4482ff;
    color: #000;
  }

  .reveal-button:hover,
  .speak-button:hover {
    background-color: #aac7ff;
  }

  .reveal-button:active,
  .speak-button:active {
    background-color: #c4d70c;
  }

  .stop-button {
    background-color: #f44336;
    color: rgb(255, 255, 255);
  }

  .stop-button:hover {
    background-color: #e53935;
  }

  .stop-button:active {
    background-color: #d32f2f;
  }

  .extract-container {
    background-color: #444;
    color: #f4f4f4;
  }

  
  .circular-map {
    width: 200px; /* Adjust the width and height as desired */
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
  }
  
      body {
      font-family: 'Montserrat', sans-serif;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: #2c3e50;
      color: #fff;
    }

    .title-container {
      text-align: center;
    }

    .title-container h1 {
      margin: 0;
      padding: 10px 0;
      font-size: 24px;
    }

    main {
      padding: 20px;
    }

    #get-location-button {
      width: 100%;
      max-width: 300px;
      padding: 10px 20px;
      background-color: #3498db;
      color: #000000;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: background-color 0.3s ease;
      margin-bottom: 20px;
    }

    #get-location-button:hover {
      background-color: #2980b9;
    }

    #get-location-button:active {
      background-color: #1b4f72;
    }

    /* Style the location list */
    #locations {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
    }

    #locations ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    #locations li {
      margin: 10px 0;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      font-size: 16px;
    }

    #background-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      z-index: -1;
      opacity: 0.3;
    }

    /* Dark mode */
    @media (prefers-color-scheme: dark) {
      body {
        background-color: #333;
        color: #f4f4f4;
      }

      header {
        background-color: #34495e;
      }

      #dark-mode-button {
        color: #f4f4f4;
      }

      #get-location-button {
        background-color: #e5ff00;
      }

      #get-location-button:hover {
        background-color: #faa622;
      }

      #get-location-button:active {
        background-color: #c4d70c;
      }

      #locations li {
        background-color: #444;
        color: #f4f4f4;
      }
    }

    #map {
      width: 100%;
      height: 400px;
    }

    .distance-suffix {
      color: yellow;
    }
    
    .distance-prefix{
      color: lightblue;
    }

    .distance-value{
      color: yellow;
    }

}
